/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ce6e0d57934751f2b0bc.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-08-09T22-08-10-0459.json
/cmake-build-debug/.cmake/api/v1/reply/target-src-Debug-9eca55809b5718b4fd0f.json
*.obj
